@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root{
    --bgColor: #fff;
    --txtColor: #000;
    --txtColorNav: #fff;
    --txtFont: 'Open Sans', sans-serif
}
a{
    text-decoration: none;
}
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
  font-family: var(--txtFont);
  color: var(--txtColor);
  background-color: var(--bgColor);

}


/* Home Page Inicio #01*/

.logo{
  width: 70%;
  height: 40%;
}
header{
    width: 100%;
}



/*Home page final #02*/

/*Main page  inicio #03*/
.arrow-red {
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    transition: .1s;
  }
  .arrow-blue {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0; 
    height: 0; 
    border-bottom: 0px solid transparent;
    transition: .1s;
  }
.navbar{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: var(--txtColorNav);
    transition: .1s;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding-left: 1em;
}
.navbar a{
    text-decoration: none;
    color: var(--txtColorNav);
}
.navbar li{
    color: var(--txtColorNav);
    list-style: none;
    font-family: 'Inter';
    letter-spacing: .2em;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}
.containerMainPage{
    text-align: center;
    color:  #fff;
    height: 100%;
    padding: 5em;
}
.containerMainPage div{
    margin: 100px;
    justify-content: center;
    display: grid;
}
.label-float{
    position: relative;
    padding-top: 13px;
    padding-bottom: .5em;
}
.members{
    margin-top: 12px;
}
.label-float input{
    border: 0;
    outline: none;
    min-width: 250px;
    font-size: 1.6em;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    padding: 1em;
    font-family: 'Inter';
    font-weight: bold;

    background-color: #f1f1f1;
    border-radius: 11px;
}

.label-float input::placeholder{
    color:transparent;
}
.label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1.5em;
    margin-left: .4em;
    color: #9b9b9b;
    transition: all .1s ease-out;
    font-size: 1.6em;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    user-select: none;
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    font-size: 1em;
    margin-top: 12px;
} 
#condButton, #cond, #label-cond{
    display: none;
}
.explanation{
    margin-top: 10px;
    display: none;
    text-align: justify;
}

.box-translate{
    margin-top: 10em;
    display: grid;
}
.userCommand{
    display: grid;
    margin: auto;
}
.box-translate button{
    border: 1px  solid #fff;
    color: #fff;
    font-weight: bold;
    margin: auto;
    width: clamp(30vmin, 30vw, 30vmin);
    font-size: clamp(10%,80%,1.2em);
    font-family: 'Inter';
    text-transform: uppercase;
    letter-spacing: .3em;
    background-color: #727272;
    margin-top: 5em;
    border-radius: 45px;
}

.btn {
    font-size: 10px;
    padding: 10px 5px;
    cursor: pointer;
    border: none;
    user-select: none;
}
#errorMessage{
    display: none;   
    padding: 1px;
    margin: 1px;
    margin-bottom: 5px;
}

.box-translate button:nth-child(4):focus{
    box-shadow:0 0 0 .25rem rgba(255,255,255,.5);
}
.no-focus:focus{
    box-shadow: none;
    outline: 0;
}



.box-translate input::placeholder{
    color:  #9b9b9b;
    font-size: 0.8em;
}






.choseLang input{
    all: unset;
}

.ui-autocomplete {
    background: #f1f1f1;
    border: 1px transparent;
    font-family: 'Inter';
    border-radius: 10px;
    padding: 1em;
    list-style: none;
}
.ui-menu-item div{
    padding: 0.5em;
    list-style: none;
}
.ui-menu-item a{
    color: #000;
    list-style: none;
    font-weight: bold;
}
.ui-menu-item a p{
    font-size: 0.8em;
    text-align: left;
    font-style: italic;
    list-style: none;
}
.ui-menu-item a f{
    font-size: 0.8em;
    text-align: left;
    margin-left: 10px;
    animation: advert 1s linear infinite;
    list-style: none;
}
@keyframes advert {
    0%{
        color: #d1d1d1;
    }
    50%{
        color: #49A7FF;
    }
    100%{
        color: #d1d1d1;
    }
}
.ui-menu-item a.ui-state-active{
    background: #000;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
section{
    text-align: center;
    color:  var(--txtColor);
    font-size: clamp(1vmin,100%,1vmax);
}
.clean{
    margin-left: 94%;
}
.container-code{
    margin-top: 10px;
}
.code{
    background-color: #d9d9d9;
    font-size: clamp(2vmin,100%,2vmax);
}
.output{
    color: #000;
    font-style: italic;
}

.block{
    font-family: Inconsolata, monospace;
    font-size: clamp(2.5vmin,100%,1vmax);
    color: #000;
    background-color: #d9d9d9;
    width: 100%;
    content: counter(line);
    text-align: left;
}
.choseLang{
    margin: auto;
}
.choseLang label{
    background-color: #d9d9d9;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    color: #000;
    font-weight: bold;
    font-family: 'Inter';
    text-transform: uppercase;
    letter-spacing: .3em;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
}
.choseLang label:hover{
    background-color: #878787;
    color: #fff;
    padding: 0.5em 1.5em 0.5em 1.5em;
}

.choseLang :checked + label{
    background-color: #727272;
    color: #fff;
}
print{
    color: #02B3FF;
}
string{
    color: #B24B00;
}
loop{
    color: #00b700;
}
var{
    color: #673e3e;
}
break{
    color: red;
}
.about{
    margin: auto;
    text-align: center;
    padding: 1em;
    width: 400px;
}
.about p{
    font-size:  clamp(10%,80%,1.2em);;
}
.bg{
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 10em;
}
.bg img{
    width: 200px;
}
#switch{
    display: flex;
    flex-direction: column;
    gap: 10px;
 
}
.cases{
    border: 0;
    outline: none;
    min-width: 250px;
    font-size: 1.6em;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;  
    padding: 1em;
    font-family: 'Inter';
    font-weight: bold;
    background-color: #f1f1f1;
    border-radius: 11px;
}
#else{
    display: none;
    border: 0;
    outline: none;
    min-width: 250px;
    font-size: 1.6em;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;  
    padding: 1em;
    font-family: 'Inter';
    font-weight: bold;
    background-color: #f1f1f1;
    border-radius: 11px;
}
#elseButton{
    display: none;
}
/*A fazer - Mudar o Tema*/
/*Main page  final #04*/